body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:344px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:695px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:695px;
}
#u1 {
  position:absolute;
  left:2px;
  top:340px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:12px;
  top:60px;
  width:320px;
  height:568px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u5 {
  position:absolute;
  left:215px;
  top:244px;
  width:72px;
  height:72px;
  font-size:18px;
  color:#4AD560;
}
#u5_img.mouseDown {
}
#u5.mouseDown {
  opacity:0.6;
}
#u5_img.selected {
}
#u5.selected {
}
#u6 {
  position:absolute;
  left:2px;
  top:25px;
  width:68px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:227px;
  top:67px;
  width:93px;
  height:96px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:96px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u7_input {
  font-family:'应用字体';
}
#u8 {
  position:absolute;
  left:120px;
  top:67px;
  width:93px;
  height:96px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:96px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u8_input {
  font-family:'应用字体';
}
#u9 {
  position:absolute;
  left:0px;
  top:67px;
  width:93px;
  height:96px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:96px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u9_input {
  font-family:'应用字体';
}
#u10 {
  position:absolute;
  left:9px;
  top:364px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
.u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
.u14 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
.u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
.u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
.u16 {
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  height:1px;
  color:#FFFFFF;
}
.u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:41px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u20 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u22 {
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  height:1px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u26 {
  position:absolute;
  left:22px;
  top:244px;
  width:72px;
  height:72px;
  font-size:18px;
  color:#FFFFFF;
}
#u26_img.mouseDown {
}
#u26.mouseDown {
  opacity:0.6;
}
#u27 {
  position:absolute;
  left:2px;
  top:25px;
  width:68px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u28 {
  position:absolute;
  left:103px;
  top:91px;
  width:10px;
  height:10px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u30 {
  position:absolute;
  left:103px;
  top:130px;
  width:10px;
  height:10px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u32 {
  position:absolute;
  left:215px;
  top:130px;
  width:10px;
  height:10px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:236px;
  top:60px;
  width:96px;
  height:54px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:12px;
  top:60px;
  width:320px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u38 {
  position:absolute;
  left:18px;
  top:67px;
  width:6px;
  height:6px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u40 {
  position:absolute;
  left:25px;
  top:67px;
  width:6px;
  height:6px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u42 {
  position:absolute;
  left:32px;
  top:67px;
  width:6px;
  height:6px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u44 {
  position:absolute;
  left:39px;
  top:67px;
  width:6px;
  height:6px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u46 {
  position:absolute;
  left:46px;
  top:67px;
  width:6px;
  height:6px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u48 {
  position:absolute;
  left:256px;
  top:65px;
  width:10px;
  height:10px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:9px;
}
#u50 {
  position:absolute;
  left:302px;
  top:66px;
  width:25px;
  height:9px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u52 {
  position:absolute;
  left:56px;
  top:63px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u54 {
  position:absolute;
  left:113px;
  top:63px;
  width:17px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u56 {
  position:absolute;
  left:159px;
  top:63px;
  width:32px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u58 {
  position:absolute;
  left:274px;
  top:63px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
